@media (max-width: 480px) {
  nav, .social-icons aside, form {
    flex-direction: column;
    align-items: center;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  * .logo img {
    padding-top: 1%;
    width: 200px;
    height: 40px;
    }
    nav {
      display:flex;    
      justify-content: space-between;
      align-items: center;
      background-color:#333;
      padding: 10px;
  }
  .links{
   padding-top: 1%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width:100%;
  }
  .links a{
   text-decoration: none;
     color: white;
   font-size: 1rem;
   border-bottom:1px solid white ; 
  }
  
   body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  * h1 {
    margin: 20px 0;
    text-align: center ;
    margin-top: 20px;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10rem);
    background-color: #f0f0f0;
  }

  .image-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .circle-image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .circle-image img {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  }

  .button {
    background-color: #254926;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  p {
    font-family: "Open-sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 7px;
  }
  .paragraph, .AboutParagraph p{
    padding: 2%;
    text-align: justify;
    line-height: 25px;
  }
  .homepara::first-line {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    Font-family: "lora", serif;
    text-shadow: 1px 1px 2px #000000;
    text-align: justify;
    
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .social-icons img {
    height: 30px;
    margin: 0 10px;
  }

.social-icons img {
  width: 30px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 20px;
}

label, input, textarea {
  width: 100%;
  margin-top: 5px;
}


main#Services {
  padding: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
  scroll-snap-align: start;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slide-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 10px;
  border-radius: 10px;
}

.controls {
  text-align: center;
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  margin: auto;
  background-color: #254926;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
  height: auto;
}

.card h2 {
  margin-top: 10px;
}

.card p {
  text-align: center;
}

#toggleButton1, #toggleButton2, #toggleButton3, #toggleButton4, #toggleButton5 {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

#toggleButton1:hover, #toggleButton2:hover, #toggleButton3:hover, #toggleButton4:hover, #toggleButton5:hover {
  background-color: #555;
}

#hiddenContent1, #hiddenContent2, #hiddenContent3, #hiddenContent4, #hiddenContent5 {
  margin-top: 10px;
  display: none;
}
.testimonial-card {
  width: calc(50% - 20px);
  margin:15px 10px;
  background-color: #e9e9e9;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 }
 
 .testimonial-card img {
  width: 80px;
  height: 80px; 
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 20px;
  border: 3px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
 }
 
 .testimonial-text {
  margin-top: 50px; 
  text-align: justify;
 }
 
 .testmonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
 }
  .card, .testimonial-card {
      width: calc(100% - 20px);   
  }
  #contact_form{
    width: 100%;
    padding: 5px 15px;
  }
  input, textarea {
border:none;
    border-radius: 0.5rem; 
    padding:3px;
    box-shadow: #333;
   }
   #contact_form legend{
    padding-top:5px ;
    font-size: larger;
    font-weight: 600;
   }
   #contact_form label{
    padding-top: 3px ;
    font-size: larger;
   }
   .submit_button{
    margin-top: 10px;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #c0b9b9;
    padding: 5px 15px;
    font-size: larger;
   }

main#about {
  padding: 0 5px;
}
#about ul{
  list-style: disc;
}
#AboutParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#AboutImg {
  max-width: 100%;
  margin: auto;
  height: auto;
}
#AboutImg img {
  margin: 0 auto;
}
#about h2{
  text-align: center;
}
.card-container {
  display: flex;
  overflow-x: scroll;
  border:1px solid rgb(100, 99, 99);
  box-shadow: #333;
  width: 100vw;
}
.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-image {
  width: 100%;
  height: auto;
}

footer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}
footer p{
  text-align: center;
}
.footer-content {
  width:100%;
}

}
